.form-group {
  position: relative;
}

.img-label {
  position: absolute;
  top: 2.2rem;
  left: 0.1rem;
  color: var(--color-white);
  background: var(--color-primary);
  width: 7rem;
  height: 2.1rem;
  text-align: center;
  padding-top: 0.3rem;
  cursor: pointer;
}

.img-label:hover {
  color: var(--color-white);
  border-color: var(--color-primary);
  box-shadow: var(--shadow-color);
}

.img-upload {
  border: none;
  background: var(--color-white-1);
  width: 5rem;
}
