<nav class="navbar navbar-expand-lg navbar-light nv">
  <a href="#">Mini App</a>

  <button class="btn btn-outline-light ml-auto nv-btn" type="submit">
    Login
  </button>
</nav>

<div class="col-md-4 input-form">
  <form>
    <div class="form-group">
      <label for="firstname">Title</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        placeholder="Enter item name"
      />
    </div>
    <div class="form-group">
      <label for="email">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="email"
        rows="4"
        placeholder="Enter description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="img">Upload Image</label>
      <label for="lastname" class="input-form-btn img-label">Select</label>
      <input type="file" class="form-control img-upload" id="lastname" />
    </div>

    <button type="submit" class="btn btn-primary input-form-btn">
      Update Item
    </button>
  </form>
</div>
