<nav class="navbar navbar-expand-lg navbar-light nv">
  <a href="#">ProjName</a>
  <!-- <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto nv-list">
      <li class="nav-item">
        <a href="#">Share dashboard</a>
      </li>
    </ul>
  </div> -->
  <button class="btn btn-outline-light ml-auto nv-btn" type="submit">
    Logout
  </button>
</nav>

<div class="panel-box">
  <div class="panel-col-1">
    <div class="panel-1">
      <div class="panel-name">
        Company name
      </div>
      <div class="panel-img">
        <img src="../../../assets/img/voicea.png" alt="Company logo" />
      </div>
    </div>
    <div class="panel-2">
      <div class="panel-name">
        Anounce #112
      </div>
      <ul class="panel-list">
        <li class="panel-list__item">Anounce Data: Aug 6, 2019</li>
        <li class="panel-list__item">Legal Close Date: Seb 6, 2019</li>
        <li class="panel-list__item">Deal Price: Not disclosed</li>
        <li class="panel-list__item">Target Market: Collaborations</li>
        <li class="panel-list__item">BU: Collaborations</li>
        <li class="panel-list__item">Founded: 2016</li>
        <li class="panel-list__item">Number of Employess: 46</li>
        <li class="panel-list__item">
          Website: <a href="#">www.voicea.com</a>
        </li>
        <li class="panel-list__item">
          HQ:Mountain View,CA Ukraine, Dubai, Germay
        </li>
      </ul>
      <div class="row social-links">
        <div class="social-link">
          <img src="../../../assets/svg/facebook.svg" alt="facebook-icon" />
        </div>
        <div class="social-link">
          <img src="../../../assets/svg/linkedin.svg" alt="linkedin-icon" />
        </div>
        <div class="social-link">
          <img src="../../../assets/svg/twitter.svg" alt="twitter-icon" />
        </div>
      </div>
      <div class="blogs">
        <a class="blog" href="">Cisco Blogs</a>
        <a class="blog" href="">Cisco Anounce</a>
      </div>
    </div>
  </div>
  <div class="panel-col-2">
    <div class="panel-3">
      <div class="panel-name">
        About
      </div>
      <div class="panel-desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates,
        laborum tempore? Nam illum dolore dolor reprehenderit provident
        sapiente, beatae, necessitatibus modi libero aperiam similique, facilis
        aspernatur. Natus illo quas quod. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Explicabo, quam dignissimos provident ratione
        distinctio corrupti ad nulla sint doloremque nostrum laboriosam quidem
        perspiciatis, hic nemo at atque mollitia ea saepe.
      </div>
    </div>
    <div class="panel-4">
      <div class="panel-name">
        Indtroducton to Company
      </div>
      <div class="panel-vedio">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/Sg_tDGme2C8"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
<div class="protected-panels">
  <div class="protected-panel__1">
    <div class="protected-panel-name">
      Go To Market / Business Integration Enablement
    </div>
    <div class="status">Overall Status:<span class="dot red"></span></div>
    <p class="protected-panel__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nostrum
      voluptatum natus, suscipit quisquam in accusantium facere molestiae ad
      eveniet eaque voluptatem commodi reiciendis. Dolor corrupti veritatis
      voluptate ullam repudiandae.
    </p>
  </div>
  <div class="protected-panel__2">
    <div class="protected-panel-name">
      Enterprise Connectivity
    </div>
    <div class="status">Overall Status:<span class="dot green"></span></div>
    <p class="protected-panel__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nostrum
      voluptatum natus, suscipit quisquam in accusantium facere molestiae ad
      eveniet eaque voluptatem commodi reiciendis. Dolor corrupti veritatis
      voluptate ullam repudiandae.
    </p>
  </div>
  <div class="protected-panel__3">
    <div class="protected-panel-name">
      Business Unit Readiness
    </div>
    <div class="status">Overall Status:<span class="dot orange"></span></div>
    <p class="protected-panel__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nostrum
      voluptatum natus, suscipit quisquam in accusantium facere molestiae ad
      eveniet eaque voluptatem commodi reiciendis. Dolor corrupti veritatis
      voluptate ullam repudiandae.
    </p>
  </div>
</div>
