.item-container {
  position: relative;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.card {
  margin: auto;
  margin-top: 3rem;
  font-size: 0.8rem;
  width: 16rem;
}

.card-body {
  padding: 0.55rem;
}

.card-title {
  font-size: 0.9rem;
}

.vertical-dots:after {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  content: "\2807";
  color: var(--color-grey);
  font-size: 25px;
  cursor: pointer;
}

.img-logo {
  width: 50%;
  height: 50px;
  background-size: cover;
  background-position: 50% 50%;
}

.hr-line {
  color: var(--color-grey);
  margin: 0.5rem 0;
}

.card-field {
  margin: 0.5rem 0;
}

.card-field__text-1 {
  font-size: 0.7rem;
  color: var(--color-grey);
  margin-bottom: 0;
}

.card-field__text-2 {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.card-bottom-panel {
  background-color: var(--color-primary-1);
  width: 100%;
  padding: 1rem 12.5%;
}

.card-icons {
  text-align: center;
  width: 33.33%;
}

.img-icon {
  width: 20px;
  height: 20px;
}
.img-text {
  font-size: 0.6rem;
  margin-bottom: 0;
}

.input-form-btn {
  width: 40%;
  margin: auto;
  border-radius: 17px;
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
}

.add-item-btn {
  position: fixed;
  height: 4rem;
  width: 4rem;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  border: none;
  background: var(--color-primary-2);
  box-shadow: var(--shadow-color);
  transition: all 0.2s;
}

.add-item-btn:hover {
  background: var(--color-primary-3);
}

.add-item-btn::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 5px;
  margin-top: -5px;
  top: 28%;
  left: 5px;
  right: 5px;
  z-index: 9;
  margin: 0.7rem;
}
.add-item-btn::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 5px;
  margin-left: -2px;
  left: 30%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
  margin: 0.7rem;
}

@media screen and (max-width: 1125px) {
  .item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 961px) {
  .item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .item-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
